<form [formGroup]="formLogin" #formLoginTemplate (submit)="logar()">
  <ion-col size=12 align-self-end>
    <ion-row>
      <ion-col size=12>
        <ion-item>
          <ion-label position="floating">Login</ion-label>
          <ion-input formControlName='login'></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size=12>
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" formControlName='senha'></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-button expand='full' type="submit">ENTRAR</ion-button>
    <ion-button expand='full' (click)="solicitarCadsatro()">Solicitar Cadastro</ion-button>
  </ion-col>
</form>