<ion-col size="12">
  <form [formGroup]="formCadastramento" (submit)="solicitarCadastro()">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input formControlName="nome"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input formControlName="senha" type="password"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Indicacao</ion-label>
      <ion-input formControlName="indicacao" required></ion-input>
    </ion-item>
  
    <ion-button expand='full' type="submit">Confirmar solicitacao</ion-button>
  </form>
</ion-col>